@page "/billet-list"

<h1>List of Billet</h1>

@foreach (var billet in Billets)
{
    <span>@billet.Voyager.FirstName @billet.Voyager.LastName</span>
   <span class="list-group-item">
        @billet.IdTravelNavigation.From - @billet.IdTravelNavigation.To : @billet.IdTravelNavigation.Price €
        <br />
   </span>
}

@code {
    [Parameter]
    public List<AirTech.Shared.Billet> Billets { get; set; } = new List<AirTech.Shared.Billet>();
}
