@page "/billet-list"

<h1>List of Billet</h1>

@foreach (var billet in Billets)
{
    <span>@billet.IdUserNavigation.FirstName @billet.IdUserNavigation.LastName</span>
   <span class="list-group-item">
        @billet.IdBilletNavigation.From - @billet.IdBilletNavigation.To : @billet.IdBilletNavigation.Price €
        <br />
        Date : @billet.IdBilletNavigation.Date.Value
   </span>
}

@code {
    [Parameter]
    public List<AirTech.Shared.Billet> Billets { get; set; } = new List<AirTech.Shared.Billet>();
}
